<div class="welcome-desktop">
  <div class="main-text-container">
    <h1>Welcome to _______</h1>
  </div>
  <div class="subtext-container">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
      delectus, sequi suscipit facilis quos sed vitae, quam nobis iste quo
      possimus reprehenderit voluptate ipsam ullam, maxime repellendus eum eius?
      Minus!
    </p>
  </div>
  <div class="call-to-action-container">
    <button>Link to target</button>
  </div>
</div>
