<div class="card-container">
  <div class="image-container">
    <img src="../../../assets/laptop-1035345_1920.jpg">
  </div>
  <div class="heading-container">
    {{ heading }}
  </div>
  <div class="description-container">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
      repudiandae at, consequuntur debitis repellat eos, enim asperiores
      assumenda laudantium beatae esse iure vel, amet sunt illo voluptates
      doloribus tenetur ea.
    </p>
  </div>
</div>
