.about-desktop {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
}

.secondary-heading-container {
  color: #00546c;
  grid-area: 4 / 4 / 5 / 8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tertiary-heading-container {
  color: gray;
  grid-area: 2 / 3 / 3 / 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.primary-heading-container {
  color: #00546c;
  grid-area: 3 / 2 / 4 / 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
