<app-navbar></app-navbar>
<app-hero></app-hero>
<app-about></app-about>
<div class="cards-container">
  <app-card [heading]="'Our Approach'"></app-card>
  <app-card [heading]="'Our Approach'"></app-card>
  <app-card [heading]="'Our Approach'"></app-card>
</div>
<app-welcome></app-welcome>

<div class="highlight-cards-container">
  <div class="heading-container">
    <h1>Highlights</h1>
  </div>
  <div class="cards">
    <app-card [heading]="'Lorem Ipsum'"></app-card>
    <app-card [heading]="'Lorem Ipsum'"></app-card>
    <app-card [heading]="'Lorem Ipsum'"></app-card>
  </div>
</div>
